body {
    background-color: #8ACDEA;
    min-height: 100vh;
    user-select: none;
}

h1 {
    color: #EDE6F2;
    font-size: 2em;
}

.navbar {
    background-color: #746D75;
    color: #EDE6F2;
    border-bottom: 2px solid #EDE6F2;
}

.navbar-brand {
    margin-right: 15px;
    margin-left: 10px;
}

.navbar-end {
    padding: 10px;
    align-items: center;
}

.container {
    padding: 20px;
}

.search-btn {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #8C4843;
    color: #EDE6F2;
}

.search-btn:hover {
    color: white;
    background-color: rgb(156, 87, 82);
}

.gif {
    max-width: 300px;
    max-height: 300px;
}

.card {
    width: fit-content;
    margin: 10px;
    -webkit-box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
    box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
}

.card:hover {
    border: 2px solid #EDE6F2;
}

.control {
    margin-right: 0 !important;
    color: #9E643C;
}

.icon.favorite {
    position: absolute;
    right: 0;
    top: 0;
}

#brand-icon-container {
    align-items: center;
    display: flex;
    margin-left: 10px;
}

#add-input-container {
    margin-bottom: 0;
}

#add-input {
    padding: 2px;
}

#add-btn {
    background-color: #8ACDEA;
}